.name-color {
    color: orange;
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 90%;

}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.bg {
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;

    margin: 0;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}

.gap {
    margin-bottom: 40px;
}

.font {

    font-family: Arial, Helvetica, sans-serif;
}

.image2 img {
    width: 50%;
    padding-left: 100px;
    padding-top: 40px;

}

.bg1 {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin: 0;

}