.name-color {
    color: orange;
}

.color {
    color: rgba(117, 98, 98, 0.9);
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 90%;
    margin-left: 10%;

}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.bg {
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}

.gap {
    margin-bottom: 40px;
}

.gap2 {
    margin-bottom: 50px;
}

.font {

    font-family: Arial, Helvetica, sans-serif;
}

.image2 img {
    width: 50%;
    padding-left: 50px;

}

.nicehnamai {
    padding-top: 80px;
}

.bg1 {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.tocenter {
    text-align: center;
    margin: 0 auto;
    width: 50%;

}

.dh2 {
    color: rgba(57, 51, 51, 0.855);
    font-size: 30px;
}

.fix {
    margin-top: 5%;
    margin: 10px;
    border: 10px 10px 10px 10px;
    padding: 20px 20px;
    box-shadow: 10px 5px 20px gray;
    border-radius: 20px;

}

.fix img {
    width: 100%;
}

.fix p {
    text-align: left;
}

#first {
    margin-left: 5%;
}

#second {
    margin-right: 5%;
}

.side {
    margin-left: 10%;
    width: 50%;
}

.fix2 {

    border: 10px 10px 10px 10px;
    margin: 80px;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 10px;
}

.fix2 div {
    padding-bottom: 50px;
}

.bg2 {
    background-color: rgba(6, 6, 6, 0.929);
    padding-bottom: 100px;
    padding-top: 5px;
}